<%= render 'shared/page_title', title: "The Archive" %>

<% @articles.each do |article| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2", id="article-name">
      <%= article.created_at.strftime("%B %d %Y ") %> <%= link_to article.name, article_path(article), id: "article-title" %>
    </div>
  </div>
<% end %>
   