<%= render 'shared/page_title', title: "The Archive" %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <strong id="article-year">2017</strong>
      <% @articles.each do |article| %>
        <ol>
          <li>
            <%= article.created_at.strftime("%B %d") %> <%= link_to article.name, article_path(article), id: "article-title" %>
          </li>
        </ol>
      <% end %>
  </div>
</div>
   