<%= render 'shared/page_title', title: @article.name %>

<div class="row">
  <% if logged_in? && current_user.admin? %>
      <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-default pull-right" %>
      <%= link_to "Delete this article", @article, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger pull-left" %>
    <% end %>
  <div class="col-md-8 col-md-offset-4">
    <h5><%= @article.body %></h5>
  </div>
</div>