<div style="background:transparent !important"  class="center jumbotron">
  <h1>hi. i'm minh.</h1>
  <h2>I write about a lot of bullshit stuff just for fun.  </h2>
  
  <div class="button">
    <%= link_to "Read my articles", articles_path, class: "btn btn-default btn-lg "%>&nbsp&nbsp <%= link_to "Subcribe", register_path, class: "btn btn-default btn-lg" %>
  </div>
</div>