<ul>
  <li>
    <a href="https://github.com/MinhNguyen41092/blogv1">Personal Blog</a>
  </li>

  <li>
    <a href="https://github.com/MinhNguyen41092/macrostracker">Macronutrients Tracker</a>
  </li>
</ul>
