
@import "bootstrap-sprockets";
@import "bootstrap";

  .jumbotron {
    background-color: red;
    margin-bottom: 0px;
  }
  
  #header {
    color: white;
  }
  
  .navbar {
    border-radius: 0px !important;
  }

  #search {
    
  }
  
  #article-name {
    font-size: 1.5em;
    text-decoration: none; 
  }

  #bs-example-navbar-collapse-1 {
    display: inline;
    font-size: 1.2em;
    font-family: Serif;
    margin-right: 30px;
  }
  
  #subscription {
    font-size: 1.2em;
    font-family: Serif;
  }
  
  button {
    border-radius: 0px !important;
  }
  
  .navbar-brand {
    text-transform: uppercase;
    font-size: 3em;
    font-family: Serif;
    
  }
  
  #button-home {
    text-transform: uppercase;
    font-size: 3em;
    margin-top: 30px;
  }
  
  h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 5em;
  }
  
  h2 {
    text-align: center;
  }
  
  h4 {
    text-align: center;
    margin-top: 5px;
    text-transform: uppercase;
  }
  
  h5 {
    line-height: 1.5;
  }
  
  .footer {
    margin-top: 25px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }
  
  .well {
    background-color: #ededed;
    margin-top: 20px;
  }
  
  input, textarea, select, .uneditable-input {
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    width: 100%;
    
  }
  
  .body {
    margin-top: 30px;
  }
