
@import "bootstrap-sprockets";
@import "bootstrap";

  #search {
    
  }

  #bs-example-navbar-collapse-1 {
    display: inline;
    font-size: 1.2em;
    font-family: Serif;
    margin-right: 30px;
    
  }
  
  .navbar-form {
    display: inline-block;
  }
  
  .navbar-brand {
    text-transform: uppercase;
    font-size: 3em;
    font-family: Serif;
    
  }
  
  .button {
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    margin-top: 30px;
  }
  
  h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    font-weight: bold;
  }
  
  h2 {
    text-align: center;
  }
  
  .footer {
    margin-top: 25px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }
  
  .well {
    background-color: #ededed;
  }
  
  input, textarea, select, .uneditable-input {
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    width: 100%;
    
  }
  
  .body {
    margin-top: 30px;
  }
